body, html {
	margin: 0;
	padding: 0;
	font-family: 'Chivo',Arial, Helvetica;
	background-color: #fefdf7;
	width: 100vw;																																																																																																															
	margin-bottom: 50px;
	font-weight: 400;
	scroll-behavior: smooth;
}


#about-images {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}

#about-images img {
   border-radius: 20px;
   height: 50vmax;
   width: 28vw;
}

@media  only screen and (max-width: 650px) {

	body{
		width: 100vw;
		overflow-x: hidden;
	}
	nav{
		width: 100vw;
		max-height: 100vh;
		display: flex;
		align-items: center;
		justify-content: space-between;
		box-sizing: border-box;
		padding: 10px 20px 15px 20px;
	}

	#drop-down{
		visibility: hidden;
		position: fixed ;
		top: 0;
		left: 0;
		bottom: 0;
		margin-top: 0;
		width: 70vw;
		z-index: 5;
		background-color: #f5f5f5;
		list-style-type: none;
		line-height: 15vw;
		font-family: 'Chivo';
		font-weight: 400;
		letter-spacing: 0.5px;
		color: #806f27;
	}

	h1 {
		text-transform: capitalize;
		font-style: normal;
		font-weight: 500;
		font-size: 34px;
		line-height: 36px;
		margin-bottom: 15px;
	}

	#polygon{
		margin-top: 45px;
		position: absolute;
		left: 55vw;
	}
	
	#star{
		width: 60px;
		height: 60px;
		margin-top: 80px;
		margin-left: 25px;
		margin-bottom: 0;
	}

	#small-circle {
		margin-top: 45px;
		position: absolute;
		left: 30vw;
		
	}

	#shine{
		width: 171.71px;
		height: 181.14px;
		position: absolute;
		top: 42%;
	}

	#empty-div{
		position: absolute;
		width: 70vmin;
		height: 50vmin;
		background-color: #F2EAC3;
		border-radius: 10px;
		right: 0;
		top: 50px;
	}
	
	
	

	#our-team{
		padding: 25px;
		
	}

	#our-team img{
		margin: auto;
		width: 90vw;
		border-radius: 15px;
	}

	#our-gallery{
		padding: 25px;

	}

	#our-gallery img{
		margin: 5px auto;
		width: 90vw;
	}

	#yellow-woman{
		display: none;
	}
	
	
}


#menu {
	width: 30px;
	height: 20px;
}


#drop-down .btn{
	background-color: inherit;
	border: 2px solid #f2d85f;
}



#first-page {
	padding: 4vw;
	width: 100vw;
	display: flex;
	flex-flow: column nowrap;
	background: linear-gradient(89.36deg, rgba(255, 236, 210, 0.4) -6.96%, rgba(193, 249, 195, 0.4) 105.9%);
}


#green {
	background-color: rgb(245, 250, 245);
	color: #00c231;
}

.btn{
	background-color: #f2d85f;
	border-radius: 20px 0 20px 20px;
	border-top-right-radius: 0;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 171px;
	height: 60px;

}




#big-image-wrapper{
	box-sizing: border-box;
	position: relative;
}


#sam-odion {
	background-color: #fff;
	border-radius: 20px; 
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-around;
	margin: auto;
	margin-top: -125px;
	padding: 20px;
	box-sizing: border-box;
	z-index: 1;
}

#sam-details {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items:  flex-start;
	margin-left: 1vw;
}

#sam-details p, #sam-details h5{
    margin: 2px; 
 }
 
#sam-details p:last-child {
	color: #666666;
}

#about-us h2{
	margin-left: 20px;
}


#image-2 {
   margin-top: 17vh;
}

#about-us p{
	margin: 30px;
	color: #806f27;
}

#about-us .btn{
	margin-left: 30px;
	margin-bottom: 50px;
	color: #3D340C;
}
#why-us{
	padding-left: 20px;
	margin-bottom: 80px;
	position: relative;
}

#why-us img{
	border-radius: 12px;
	width: 90vmin;
	margin-top: 50px;
	z-index: 2;
	position: sticky;
}



#why-us ul{
	list-style-type: none;
	color: #806f27;
	line-height: 1.8;
}

#why-us li::before{
	content: '\2713';
	font-weight: 900;
	width: 1em;
	margin-left: -2.1em;
	margin-right: 1em;
} 


#our-services{
	padding: 20px;
	
}

.card{
	width: 80vw;
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08), 0px 6px 24px rgba(0, 0, 0, 0.05);
	color: #806f27;
	line-height: 1.8;
	border-radius: 10px;
	padding: 15px;
	box-sizing: border-box;
	margin: 30px auto;
}

.card img{
	background-color: #fff;
	box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.16), 0px 0px 0px 1px rgba(0, 0, 0, 0.06);
	border-radius: 50%;
	padding: 15px;
}

.card h2{
	color: #3d340c;
}

.card p{
	color: #806f27;
}

#our-services .btn{
	margin: 30px auto 50px 30px;
}

#form-wrapper{
	background-color: #3d340c;
	padding: 20px 20px 0 20px;
	overflow: hidden;
}

#form-wrapper > h2, #form-wrapper p{
	color: white;
}

form{
	background-color: white;
	padding: 10px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-between;
	border-radius: 7px;
}

form > h2{
	color: #3d340c;
}

form .btn{
	border-radius: 0px;
	align-self: flex-start;
	border: none;
	margin-top: 10px;
}

input{
	outline: none;
	border: none;
}

fieldset{
	width: 90%;
	height: 40px;
	border-radius: 5px;
	margin-top: 7px;
	border: 1px solid #3d340c;
}

legend{
	font-size: 12px;
	line-height: 16px;
	font-weight: 400;
}

#form-wrapper img{
	position: relative;
	bottom: -30px;
	left: -30px;
	margin: 0;

}

#reviews{
	padding: 25px;
	overflow-x: scroll;
	overflow-y: visible;
	position: relative;
}

#reviews > img:nth-of-type(1){
	position: absolute;
	right: 80px;
}

#reviews img:nth-of-type(2){
	position: absolute;
	right: 60px;
}


#photo{
	z-index: 3;
	position: relative;
}
#reviews-wrapper{
	display: flex;
	overflow-x: scroll;
	overflow-y: visible;
	height: 500px;
}

#reviews-wrapper div:not(#first-review-wrapper){
	border-radius: 10px;
	min-width: 400px;
	height: 250px;
	box-sizing: border-box;
	padding: 30px 20px;
	line-height: 1.2;
}

#first-review{
	background-color: #806f27;
	color: #fff;	
	z-index: 2;
	position: relative;
	top: -40px;
}

#second-review{
	position: relative;
	top: 120px;
	right: 120px;
	background-color: #DFD5A8;
	color: #806f27;
	z-index: 1;
}

#third-review{
	position: relative;
	top: 190px;
	right: 200px;
	background-color: #E9E8E3;
	color: #806f27;


}


#faqs{
	margin-top: 30px;
	padding: 20px;
}


.faq-card{
	background-color: #F3F3F3;
	box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.16), 0px 0px 0px 1px rgba(0, 0, 0, 0.06);
	border-radius: 10px;
	width: 80vw;
	padding: 15px;
	margin: 10px auto;
	position: relative;

}

.faq-card img{
	transform: rotate(180deg);
	transition: all 0.3s;
	position: absolute;
	right: 8px;
}
.faq-card p{
	display: none;
	color: #806f27;
}

#footer{
	padding: 20px;
	color: #806f27;

}


#footer ul{
	list-style-type: none;
	padding-left: 0;
	line-height: 2;
}

#footer img:not(:first-child){
	border-radius: 50%;
	color: #FEFDF7;
	box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.16), 0px 0px 0px 1px rgba(0, 0, 0, 0.06);
	margin-left: 10px;
	padding: 3px;
	height: 13px;
}

#footer p:nth-last-child(2){
	width: max-content;
}

#footer p:last-child{
	text-align: center;
}

@media only screen and (min-width: 651px) {
	nav, #drop-down{
		visibility: visible;
		display: flex;
		flex-flow:  row nowrap;
		align-items: center;
		justify-content: space-around;
		margin: auto 9vw;
		min-height: 15vh;
	}
	
	#drop-down{
		list-style-type: none;
		color: #806f27;

	}

	#drop-down li{
		margin: auto 3vw;
		text-align: center;
		width: max-content;
	}
	#menu{
		display: none;
	}
	
	#logo{

		min-width: 11vw;
	}

	#drop-down .btn{
		padding: 27px;
		text-align: center;
	}

	#first-page{
		display: flex;
		flex-flow: column wrap;
		width: 100vw;
		padding: auto 30vw;
	}
	h1{
		font-size: 55px;
		text-transform: capitalize;
		font-style: normal;
		text-align: left;
		font-weight: 700;
		line-height: 8vh;
		width: 45vw;
		margin-right: 0;
	}

	#first-page .btn{
		padding: 25px;
		margin: 0;
	}

	#deco-wrapper{
		position: absolute;
		top: 28vh;
		right: 16vw;
	}

	#shine{
		width: 171.71px;
		height: 181.14px;
		position: absolute;
		top: 20vh;
		left: 0.5vw;
	}


	#sam-odion{
		position: absolute;
		top: 57vh;
		left: 48vw;
		width: 30vw;
		min-height: 15vh;
		padding: 5px;
	}

	#sam-details{
		width: fit-content;
		height: max-content;
	}




	#star{
		display: none;
	}

	#polygon{
		position: absolute;
		top:-12vh;
		right: -6vw;
	}

	#small-circle{
		position: absolute;
		right: 15vw;
		top: -12vh;
	}

	#big-image{	
		width: 35vw;
		max-width: 100%;
		margin: 0;
		overflow: hidden;
	}

	#big-image-wrapper{
		position: absolute;
		top: 12vh;
		right: 10vw;

	}

	#about-us{
		display: flex;
		flex-flow: column nowrap;
		align-items: flex-end;
		position: relative;
		padding: 10vw;
		
	}



	#about-us h2{
		margin-right: 24vw;
	}
	

	#about-images{
		width: 40vw;
		position: absolute;
		left: 10vw;
		top: 10vh;
	}

	#about-images img{
		width: 10vw;
		height: 40vh;
	}

	#about-us p{
		width: 30vw;
		line-height: 25px;
	}

	#about-us .btn{
		margin-right: 19vw;
	}

	#why-us{
		position: relative;
		margin: auto 3vw;
	}

	#why-us h2{
		display: inline-block;
		margin-top: 15vh;
	}

	#why-us img{
		position: absolute;
		top: 12vh;
		right: 7vw;
		width: 40vw;
	}

	#why-us ul{
		width: 35vw;
		line-height: 5vh;

	}

	#our-services{
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-around;
		margin: 140px 15vw 100px 15vw;

	}


	.card{
		margin-top: 0;
		width: 21vw;
		min-height: 40vh;
		height: max-content;
	}

	#our-services > h2{
		padding: 1vh 20vw;
		text-align: center;
		width: max-content;
	}

	.card h2{
		font-size: medium;
		text-align: left;
	}


	#our-services .btn{
		margin: 2vw auto;

	}

	#our-team{
		display: flex;
		align-items: center;
		padding: 30px;
		margin-top: 30px;
		margin-bottom: 170px;
	}
	#our-team h2 {
		position: relative;
		top: -70px;
		left: 0px;
		display: block;
		white-space: nowrap;
		margin-bottom:50px;

	}
	
	#yellow-woman{
		order: 3;
		position: absolute;
		right: 10px;
	}

	#afro-woman{
		display: none;
	}

	#our-team p{
		line-height: 1.8;
		width: 40vw;
		position: absolute;
	}

	#our-gallery{	
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
	}

	#our-gallery h2{

		flex-basis: 100%;
		text-align: center;
	}

	#our-gallery img{
		width: 30%;
		height: 250px;
		margin-bottom: 30px;
	}

	#form-wrapper{
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: baseline;
		padding: auto 10vw;
		height: 50vw;
		box-sizing: border-box;
	}

	#form-wrapper >h2{
		position: relative;
		bottom: -15vh;
	}

	#form-wrapper p{
		position: relative;
		bottom: -15vh;
		flex-basis: 40%;
		max-width: 40%;

	}
	
	#form-wrapper form{
		width: 350px;
		order: 3;
	}

	#form-wrapper img{
		position: relative;
		left: 10vw;
		bottom: -10vw;
	}

	#faqs h2{
		text-align: center
	}
	.faq-card{
		min-height: 30px;
	}

	#footer{
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		justify-content: space-around;
		margin: auto 15vw;
	}


	#footer > img:first-child{
		height: 40px;
	}


	#footer p{
		flex-basis: 33%;
	}


	#footer p:first-of-type{
		order: 4;
		padding: 10px 60% 10px 0;
		text-align: left;
		justify-self: flex-start;
	}

	#footer ul{
		flex-basis: 33%;
		text-align: center;
	}
	#footer p:last-of-type{
		order: 5;
		align-self: center;
		flex-basis: 100%;
	}
}
