body, html {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica;
	background-color: #fefdf7;
	width: 100vw;
	margin-bottom: 50px;

}

nav{
	width: 100vw;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	padding-left: 20px;
	padding-right: 20px;
}

#menu {
	width: 30px;
	height: 20px;
}

@media only screen and (min-width: 600px) {
	
	
}


#first-page {
	padding: 4vw;
	width: 100vw;
	display: flex;
	flex-flow: column nowrap;
	background: linear-gradient(89.36deg, rgba(255, 236, 210, 0.4) -6.96%, rgba(193, 249, 195, 0.4) 105.9%);
}
h1 {
	text-transform: capitalize;
	font-style: normal;
	font-weight: 500;
	font-size: 34px;
	line-height: 36px;
	margin-bottom: 15px;
}

#green {
	background-color: rgb(245, 250, 245);
	color: #00c231;
}

.btn{
	background-color: #f2d85f;
	border-radius: 20px;
	border-top-right-radius: 0;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 171px;
	height: 60px;

}


#small-circle {
	margin-top: 45px;
	position: absolute;
	left: 30vw;
	
}

#polygon{
	margin-top: 45px;
	position: absolute;
	left: 55vw;
}

#star{
	width: 60px;
	height: 60px;
	margin-top: 80px;
	margin-left: 25px;
	margin-bottom: 0;
}

#big-image-wrapper{
	box-sizing: border-box;
	position: relative;
}

#shine{
	width: 171.71px;
	height: 181.14px;
	position: absolute;
	top: 42%;
}


#sam-odion {
	background-color: #fff;
	border-radius: 20px; 
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-around;
	width: 90vmin;
	margin: auto;
	margin-top: -125px;
	padding: 20px;
	box-sizing: border-box;
	z-index: 1;
}

#sam-details {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items:  flex-start;
	margin-left: 1vw;
}

#sam-details p, #sam-details h5{
    margin: 2px; 
 }
 
#sam-details p:last-child {
	color: #666666;
}

#about-us h2{
	margin-left: 20px;
}

#about-images {
 	display: flex;
     flex-flow: row nowrap;
     justify-content: space-around;
}

#about-images img {
	border-radius: 20px;
    height: 40vmax;
	width: 28vw;
}
#image-2 {
   margin-top: 17vh;
}

#about-us p{
	margin: 30px;
	color: #706000;
	opacity: 85%;
}

#about-us .btn{
	margin-left: 30px;
	margin-bottom: 50px;
}
#why-us{
	padding-left: 20px;
	margin-bottom: 80px;
}

#why-us img{
	border-radius: 12px;
	width: 90vmin;
}

#why-us ul{
	list-style-type: none;
	color: #706000;
	opacity: 85%;
	line-height: 1.8;
}

#why-us li::before{
	content: '\2713';
	font-weight: 900;
	width: 1em;
	margin-left: -2.1em;
	margin-right: 1em;
} 


#our-services{
	padding: 20px;
	
}

.card{
	width: 80vw;
	border: 2px solid whitesmoke;
	line-height: 1.8;
	border-radius: 10px;
	padding: 15px;
	box-sizing: border-box;
	margin: 30px auto;
}

.card p{
	color: #706000;
}


/*#our-services{
	margin-bottom: 30px;
}

.card:first-of-type{
	margin-top: 0;
}

.card {
	width:90vw;
	height: 35vh;
	border-radius: 14px;
	z-index: 2;
	background-color: #fff;
	margin: auto;
	font-size: 1.02em;
	padding: 20px;
	margin-top: 20px;
	box-sizing: border-box;
}
.card p{
	line-height: 26px;
	color: #706000;
}

#our-services .btn{
	margin-top: 30px;
}*/