body, html {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica;
	background-color: #fefdf7;
	width: 100vw;
	margin-bottom: 50px;
	scroll-behavior: smooth;
}


@media  only screen and (max-width: 650px) {
	nav{
		width: 100vw;
		max-height: 100vh;
		display: flex;
		align-items: center;
		justify-content: space-between;
		box-sizing: border-box;
		padding: 10px 20px 15px 20px;
	}

	#drop-down{
		visibility: hidden;
		position: fixed ;
		top: 0;
		left: 0;
		bottom: 0;
		margin-top: 0;
		width: 70vw;
		border: 2px darkorange;
		z-index: 2;
		background-color: white;
		list-style-type: none;
		line-height: 15vw;
	}

	h1 {
		text-transform: capitalize;
		font-style: normal;
		font-weight: 500;
		font-size: 34px;
		line-height: 36px;
		margin-bottom: 15px;
	}

	#polygon{
		margin-top: 45px;
		position: absolute;
		left: 55vw;
	}
	
	#star{
		width: 60px;
		height: 60px;
		margin-top: 80px;
		margin-left: 25px;
		margin-bottom: 0;
	}

	#small-circle {
		margin-top: 45px;
		position: absolute;
		left: 30vw;
		
	}

	#shine{
		width: 171.71px;
		height: 181.14px;
		position: absolute;
		top: 42%;
	}
	
	
}


#menu {
	width: 30px;
	height: 20px;
}


#drop-down .btn{
	background-color: inherit;
	border: 2px solid #f2d85f;
}



#first-page {
	padding: 4vw;
	width: 100vw;
	display: flex;
	flex-flow: column nowrap;
	background: linear-gradient(89.36deg, rgba(255, 236, 210, 0.4) -6.96%, rgba(193, 249, 195, 0.4) 105.9%);
}


#green {
	background-color: rgb(245, 250, 245);
	color: #00c231;
}

.btn{
	background-color: #f2d85f;
	border-radius: 20px;
	border-top-right-radius: 0;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 171px;
	height: 60px;

}




#big-image-wrapper{
	box-sizing: border-box;
	position: relative;
}


#sam-odion {
	background-color: #fff;
	border-radius: 20px; 
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-around;
	width: 90vmin;
	margin: auto;
	margin-top: -125px;
	padding: 20px;
	box-sizing: border-box;
	z-index: 1;
}

#sam-details {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items:  flex-start;
	margin-left: 1vw;
}

#sam-details p, #sam-details h5{
    margin: 2px; 
 }
 
#sam-details p:last-child {
	color: #666666;
}

#about-us h2{
	margin-left: 20px;
}

#about-images {
 	display: flex;
     flex-flow: row nowrap;
     justify-content: space-around;
}

#about-images img {
	border-radius: 20px;
    height: 40vmax;
	width: 28vw;
}
#image-2 {
   margin-top: 17vh;
}

#about-us p{
	margin: 30px;
	color: #706000;
	opacity: 85%;
}

#about-us .btn{
	margin-left: 30px;
	margin-bottom: 50px;
}
#why-us{
	padding-left: 20px;
	margin-bottom: 80px;
}

#why-us img{
	border-radius: 12px;
	width: 90vmin;
}

#why-us ul{
	list-style-type: none;
	color: #706000;
	opacity: 85%;
	line-height: 1.8;
}

#why-us li::before{
	content: '\2713';
	font-weight: 900;
	width: 1em;
	margin-left: -2.1em;
	margin-right: 1em;
} 


#our-services{
	padding: 20px;
	
}

.card{
	width: 80vw;
	border: 2px solid whitesmoke;
	line-height: 1.8;
	border-radius: 10px;
	padding: 15px;
	box-sizing: border-box;
	margin: 30px auto;
}

.card p{
	color: #706000;
}

#our-services .btn{
	margin: 30px auto 50px 30px;
}

@media only screen and (min-width: 651px) {
	nav, #drop-down{
		visibility: visible;
		display: flex;
		flex-flow:  row nowrap;
		align-items: center;
		justify-content: space-around;
		margin: auto 9vw;
		min-height: 15vh;
	}
	
	#drop-down{
		list-style-type: none;
		color: #706000;

	}

	#drop-down li{
		margin: auto 3vw;
		text-align: center;
		width: max-content;
	}
	#menu{
		display: none;
	}
	
	#logo{

		min-width: 12vw;
	}

	#drop-down .btn{
		padding: 27px;
		text-align: center;
	}

	#first-page{
		display: flex;
		flex-flow: column wrap;
		width: 100vw;
		padding: auto 30vw;
		height: 55vh;
	}
	h1{
		font-size: 55px;
		text-transform: capitalize;
		font-style: normal;
		text-align: left;
		font-weight: 700;
		line-height: 8vh;
		width: 45vw;
		margin-right: 0;
	}

	#first-page .btn{
		padding: 25px;
		margin: 0;
	}

	#deco-wrapper{
		position: absolute;
		top: 28vh;
		right: 16vw;
	}

	#shine{
		width: 171.71px;
		height: 181.14px;
		position: absolute;
		top: 30vh;
		left: 0.5vw;
	}


	#sam-odion{
		position: absolute;
		top: 77vh;
		left: 48vw;
		width: 25vw;
		height: 15vh;
	}


	#star{
		display: none;
	}

	#polygon{
		position: absolute;
		top: 2vh;
		right: -8vw;
	}

	#small-circle{
		position: absolute;
		right: 16vw;
	}

	#big-image{	
		width: 40vw;
		max-width: 100%;
		margin: 0;
		margin-right: 10vw;
	}

	#about-us{
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: center;
		position: relative;
		margin: auto 5vw;
		
	}

	#about-us h2{
		position: absolute;
		right: 26vw;
		top: 18vh;
	}

	#about-images{
		margin-left: 12vw;
		width: 40vw;
		position: static;
		left: 0;
		margin-top: 15vh;
	}

	#about-images img{
		width: 10vw;
		height: 40vh;
	}

	#about-us p{
		margin: auto;
		width: 30vw;
		position: static;
		left: 62vw;
		top: 30vh;
		line-height: 25px;
	}

	#about-us .btn{
		position: absolute;
		top: 50vh;
		left:54vw;
	}

	#why-us{
		margin: 10vh 4vw;

	}

	#why-us h2{
		display: inline-block;
		margin-top: 15vh;
	}

	#why-us img{
		position: absolute;
		right: 10vw;
		width: 40vw;
		margin: 5vw;
	}

	#why-us ul{
		width: 35vw;
		line-height: 5vh;
	}

	#our-services{
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-around;
		margin: 20vh 15vw;

	}


	.card{
		margin-top: 0;
		width: 21vw;
		height: 40vh;
	}

	#our-services > h2{
		padding: 1vh 20vw;
		text-align: center;
		width: max-content;
	}

	.card h2{
		font-size: medium;
		text-align: left;
	}

	#our-services .btn{
		margin: 2vw auto;

	}
	
}
